---
import PageLayout from "@/layouts/Base.astro";
import Tools from "@/components/tools/index.astro";
const meta = {
	description: "introduction for KazooTTT",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">TODO ...</div>
	<div class="mt-2">
		<a href="https://wakatime.com/@d3dc2570-e4bf-4469-b0c2-127b495e8b91"
			><img
				src="https://wakatime.com/badge/user/d3dc2570-e4bf-4469-b0c2-127b495e8b91.svg"
				alt="Total time coded since Nov 4 2017"
			/></a
		>
	</div>

	<Tools />
</PageLayout>
