---

---

<div class="prose prose-base prose-cactus max-w-none">
	<p>4年经验的前端开发工程师</p>
	<p>主要使用react + vite + typescript开发</p>
	<p>喜欢写一些自己的side project</p>
	<p>三分钟热度，还在寻找自己真正的热爱</p>
	<p><a href="https://lyrics.kazoottt.top/">我的歌词本</a></p>
</div>
