---

---

<div class="prose prose-base prose-cactus max-w-none">
	<p>只是一个前端开发</p>
	<p>
		这里的更新频次会比较低，期望的是后续在这里记录一些编辑有价值或者长篇的内容，更多的比较碎片化的内容
		会发布在 <a href="https://notion.kazoottt.top" target="_blank">这里</a>
	</p>
</div>
