<div class="mt-12 border-t border-gray-200 pt-8">
	<div class="flex flex-col items-center space-y-2">
		<div class="text-sm text-gray-600">感谢阅读到这里，期待收到更多的反馈</div>
		<div class="flex flex-col items-center gap-y-1">
			<div class="text-xs text-gray-800">欢迎关注公众号</div>
			<div>kazoottt</div>
			<img
				src="https://pictures.kazoottt.top/2025/02/20250208-be1adbf7a54795ed26312929bb6c6786.png"
				alt="公众号二维码"
				class="!my-0 h-36 w-36 rounded shadow transition-shadow duration-300 hover:shadow-lg"
			/>
		</div>
	</div>
</div>
